.container{
    width: 100%;
    background-image: url(../../Assets/aboutHero.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5rem;
    margin-bottom: 1rem;
    padding: 10rem 0;
    text-align: center;
}

.container h2{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #fff;
    font-family: Roboto;
}

.container h4{
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    font-family: Roboto;
}