.container{
    background-image: url(../../Assets/aboutBack.png);
    background-repeat: no-repeat;
    /* background-size: contain; */
}

.innerContainer{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
}

.aboutText h2{
    font-family: Roboto;
    font-size: 40px;
    font-weight: 700;
    line-height: 69px;
}

.aboutText p{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 33px;
    padding-top: 1rem;
}

.aboutText button{
    background: rgba(255, 102, 0, 1);
    padding: .7rem 1rem;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: Roboto;
    font-size: 14px;
    border-radius: 5px;
}

.aboutText{
    width: 70%;
}

.aboutCard{
    width: 30%;
    background: rgba(0, 39, 43, 1);
    border-radius: 20px;
    padding: 2rem;
}

.aboutCard h3{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 33px;
    color: #fff;
}

.news h5{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 33px;
    padding-top: 1rem;
    color: rgba(255, 102, 0, 1);
}

.news p{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.7);
}

.news p span{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    padding-top: 1rem;
    color: #fff;
}

.pnews{
    align-items: center;
}

.pnews p{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    padding-top: 1rem;
    color: #fff;
}

.pnews p span{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 102, 0, 1);
}


@media screen and (max-width: 800px){
    .container{
        margin-top: 3rem;
    }

    .innerContainer{
        width: 90%;
        margin: auto;
        display: block;
        margin-top: 1rem;
    }

    .aboutText{
        width: 100%;
        margin-bottom: 2rem;
    }
    
    .aboutCard{
        width: 100%;
        padding: 2rem;

    }
}