.container{
    width: 100%;
    background: rgba(0, 39, 43, 1);
    margin-top: 4rem;
}

footer{
    width: 90%;
    margin: auto;
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
}

.foot{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.innerFoot{
    width: 43%;
}


.innerFoot h3{
    color:#fff;
    padding-bottom: 1rem;
    font-family: Roboto;
    font-size: 20px;
}

.innerFoot p{
    color:#fff;
    padding-bottom: 1rem;
    font-family: Roboto;
    font-size: 18px;
}


a{
    text-decoration: none;
    color: #fff;
}


.downFooter{
    width: 100%;
    background: rgba(0, 29, 32, 1);

}

.copyright{
    width: 90%;
    margin: auto;
    padding: 1rem 0;
}

.copyright p{
    color:#fff;
    font-family: Roboto;
    font-size: 18px;
    text-align: center;
}

.logo img{
    width: 35%;
}

.contactFlex{
    display: flex;
    gap: .5rem;
    align-items: center;
}

.conFlex{
    color: rgba(255, 102, 0, 1);
    width: 10%;
}

.pFlex{
   width: 100%;
   padding-top: .7rem;
}

.scrollUp {
    position: relative;
  }
  
  .iconscroll {
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 2;
    fill: rgba(255, 102, 0, 1);
    width: 48px;
    height: 48px;
  }

  .subscribe{
    align-items: center;
  }

  .subscribe input{
    padding: .8rem;
    background: #fff;
    border: none;
  }

  .subscribe button{
    padding: .8rem;
    cursor: pointer;
    border: none;
    color: #fff;
    background: rgba(255, 102, 0, 1);
  }

@media screen and (max-width: 940px){
    .logo img{
        width: 35%;
    }

    footer{
        width: 100%;
        flex-direction: column;
       
    }

    .foot{
        width: 90%;
        margin: auto;
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 500px){
    .logo img{
        width: 35%;
    }

    footer{
        width: 100%;
        flex-direction: column;
       
    }

    .foot{
        flex-direction: column;
        width: 90%;
        margin: auto;
        padding-bottom: 0rem;
    }

    .innerFoot{
        width: 100%;
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 480px){
    .logo img{
        width: 35%;
    }
}