.container{
    margin-top: 6rem;
    width: 100%;
    margin: auto;
    background-image: url(../../Assets/formBack.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 0;
}

.innerContainer {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .textssContainer {
    width: 45%;
  }

  .spons{
    background: rgba(0, 39, 43, 1);
    padding: 1rem 0;
    width: 100%;
    border-radius: 8px 8px 0px 0px ;
 }
 
 .spons h3 {
   color: #fff;
   font-family: Roboto;
   font-size: 20px;
   font-weight: 500;
   line-height: 33.8px;
   text-align: center;
 }

  form {
    width: 100%;
    border-radius: 0px 0px 8px 8px;
    background: #fff;
    /* margin: 2rem 0; */
    text-align: center;
    padding: 2rem;
  }

  .textssContainer h1 {
    color: #fff;
    font-size: 40px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 140%;
  }

  .textssContainer p {
    color: #fff;
    font-size: 14px;
    font-family: Roboto;
    line-height: 140%;
    margin-bottom: .5rem;
  }
  
  form input {
    width: 90%;
    border-radius: 8px;
    border: 1px solid rgba(117, 117, 117, 1);
    height: 45.807px;
    background: rgb(224, 222, 222);
    align-items: center;
    margin-bottom: 1.5rem;
    color: #757575;
    font-size: 16px;
    font-family: Roboto;
    padding-left: 1rem;
  }
  
  .flexForm{
    display: flex;
    gap: 2rem;
  }
  
  ::-webkit-input-placeholder {
    color: rgb(152, 150, 150);
    padding-left: 0.1rem;
  }

  
  .formContainer button {
    border-radius: 8px;
    background: rgba(255, 102, 0, 1);
    color: #fff;
    padding: .7rem 0;
    width: 100%;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 133.5%;
    cursor: pointer;
    border: none;
  }

  .check{
    display: flex;
    gap: 3rem;
    margin-bottom: 1rem;
  }


  .check1 input[type="radio"] {
    place-content: center;
    margin: 10% 0 0;
    width: 2rem;
    height: 2rem;
    border-radius: 100px;
    /* background-color: #fff; */
    border: 2px solid rgba(255, 102, 0, 1);
}

  .check1 label{
    font-size: 14px;
    font-family: Roboto;
    line-height: 140%;
}
  
  
  @media (max-width: 1024px) {
    .innerContainer {
      width: 90%;
      margin: auto;
      display: flex;
      justify-content: space-between;
    }
  
    .textContainer {
      width: 40%;
    }
  
    .textssContainer h1 {
      color:  #fff;
      font-size: 25px;
      font-family: Roboto;
      font-weight: 700;
      line-height: 140%;
    }
  }

  @media (max-width: 768px) {
    .innerContainer {
      width: 90%;
      margin: auto;
      display: flex;
      justify-content: space-between;
    }
  
    .textssContainer {
      width: 50%;
    }
  
    .textssContainer h1 {
      color: #fff;
      font-size: 20px;
      font-family: Roboto;
      font-weight: 700;
      line-height: 140%;
    }
  
    form input {
      width: 90%;
      border-radius: 8px;
      border: 1px solid rgba(117, 117, 117, 1);
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 1rem;
      font-size: 14px;
      font-family: Roboto;
      padding-left: 1rem;
    }
  
    ::-webkit-input-placeholder {
      padding-left: 0.1rem;
    }

    .spons{
      background: rgba(0, 39, 43, 1);
      padding: .5rem 0;
      width: 100%;
      border-radius: 8px 8px 0px 0px ;
   }
  
    .spons h3 {
      font-size: 22px;
      font-family: Roboto;
      font-weight: 700;
      line-height: 140%;
      margin-top: 1.5rem;
      margin-bottom: 1rem;
    }
  
    .formContainer button {
      border-radius: 8px;
      color: #fff;
      font-size: 14px;
      font-family: Roboto;
      font-weight: 700;
      line-height: 133.5%;
      cursor: pointer;
    }
  }
  @media (max-width: 480px) {
    .innerContainer {
      width: 90%;
      display: block;
      text-align: center;
    }
  
    .textssContainer {
      padding-top: 4rem;
      width: 100%;
    }

    .textssContainer h1 {
      font-size: 42px;
    }
  
    .formContainer {
      border-radius: 8px;
      background: #fff;
      margin: 2rem 0;
      text-align: center;
    }
  
    form input {
      width: 90%;
      font-size: 12px;
      font-family: Roboto;
      padding-left: 1rem;
    }
  
    ::-webkit-input-placeholder {
      padding-left: 0.1rem;
    }
  
    .spons h3 {
      font-size: 25px;
      margin-top: 1.5rem;
      margin-bottom: 1rem;
    }
  
    .formContainer button {
      width: 90%;
      font-size: 16px;
    }

    .flexForm{
      display: block;
      gap: 2rem;
    }

    .check{
      width: 100%;
      margin-left: 1rem;;
    }
    
  }
  @media (max-width: 425px) {

    .textssContainer h1 {
      font-size: 35px;
    }

    .check{
      gap: 2rem;
    }

    .check1 input[type="radio"] {
      place-content: center;
      margin: 10% 0 0;
      width: 1.5rem;
      height: 1.5rem;
    
  }
  }